<footer>
        <div class='container text-center'>
        CST 336 Internet Programming - 2019&copy; Young <br />
        <strong>Disclaimer:</strong> The information on this webpage might be inaccurate.
        </div>
    </footer>
</body>

</html>