<footer>
        <div class='container text-center'></div>
        CST 336 Internet Programming - 2019&copy; Young <br />
        <strong>Disclaimer:</strong> The information on this webpage might be inaccurate.
    </footer>
</body>

</html>