<% include partials/header.ejs %>
    <body>
        <h1>Earth</h1>

        <main>
                <div class="earth_img">
                        <img src="/img/bluemarble.jpg"/>
                        <br>
                        <p id="earth_text">Earth, the third planet from the Sun, is the only planet in the solar system known to contain life. <br>
                            It is approximately 4.6 billion years old, through carbon dating of Hadean zircons from the Jack Hills, Australia. <br>
                            Contrary to some pseudoscientific theories and certain groups, it is not flat.</p>
                        <br>
                </div>
        </main>
<% include partials/footer.ejs %> 