<% include partials/header.ejs %>
    <body>
        <h1>Jupiter</h1>

        <main>
                <div class="jupiter_img">
                        <img src="img/jupiter.jpg"/>
                        <p id="jupiter_text">One of the gas giants along with Saturn, Jupiter's mass is 2.5 times that of all other planets in the solar
                            system combined. <br> It is composed mainly of hydrogen, along with helium. The Great Red Spot is a giant storm currently raging on the planet,
                            and is one of its characteristic features. <br> It has been known to exist since at least the 17th century.
                        </p>
                        <br>
                </div>
        </main>
<% include partials/footer.ejs %> 