<% include partials/header.ejs %>
    <body>
        <h1>Mercury</h1>
        
        <main>
            <div class="mercury_img">
                    <img src="/img/mercury.png"/>
                    <br>
                    <p id="mercury_text">Mercury, the closest planet to the sun in our solar system,
                        is also the smallest. <br> Its orbital period of 87.97 days around the sun is also the shortest in the solar system, <br>
                        and due to its proximity to the Sun surface temperatures are quite extreme. It has no known satellites. </p>
                    <br> <br>
            </div>    
        </main>
<% include partials/footer.ejs %> 