<% include partials/header.ejs %>
    <body>
        <h1>Venus</h1>

        <main>
                <div class="venus_img">
                        <img src="/img/venus.jpg"/>
                        <br>
                        <p id="venus_text">Venus is the second planet in the solar system from the Sun.<br>
                            Although it is similar to the Earth in size, mass, and proximity from the Sun, its atmosphere is radically different. <br>
                            It is by far the hottest planet in the solar system, with a mean surface temperature of 735 Kelvin. </p>
                        <br>
                </div>
            
        </main>
<% include partials/footer.ejs %> 