body {
    background-color: black;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 16px;
    color: white;
}

nav {
    text-align: center;
	font-family: 'Roboto Mono', sans-serif;
	font-size: 14px;
}

nav a {
	padding: 15px;
	padding-bottom: 4px;
	font-size: 1.5em;
	text-decoration: none;
	color: black;
}

nav a:hover {
	color: teal;
}

h1 {
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 3em;
}

h4 {
    text-align: center;
    margin: 0px auto;
}

a:visited {
    color: gray;
}

a:link {
    color: greenyellow;
}

.mercury_img img {
    display: block;
    margin: 0 auto;
}

#mercury_text {
    text-align: center;
    margin: 0 auto;
}

.venus_img img {
    display: block;
    margin: 0 auto;
}

#venus_text {
    text-align: center;
    margin: 0 auto;
}

.earth_img img {
    display: block;
    margin: 0 auto;
}

#earth_text {
    text-align: center;
    margin: 0 auto;
}

.mars_img img {
    display: block;
    margin: 0 auto;
}

#mars_text {
    text-align: center;
    margin: 0 auto;
}

.jupiter_img img {
    display: block;
    margin: 0 auto;
}

#jupiter_text {
    text-align: center;
    margin: 0 auto;
}


form, table {
    align-content: center;
    position: center;
    margin : 0px auto;
 }

footer {
    align-content: center;
    right: 0;
    left: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    bottom: 0 !important;
}



